[Desktop Entry]
Name=Inkscape
Comment=Draw Freely.
Exec=/home/fjrodafo/Downloads/Inkscape.AppImage
Icon=/home/fjrodafo/Downloads/Inkscape.svg
Terminal=false
Type=Application
Categories=Graphics;
