[Desktop Entry]
Name=PPSSPP
Comment=A PSP emulator.
Exec=/home/fjrodafo/Downloads/Applications/PPSSPP/PPSSPP.AppImage
Icon=/home/fjrodafo/Downloads/Applications/PPSSPP/PPSSPP.svg
Terminal=false
Type=Application
Categories=Game;
