[user]
	name = Francisco José Rodríguez Afonso
	email = FJrodafo@gmail.com
	signingkey = 8DF6352C26EE0C9D
[core]
	editor = code --wait
	autocrlf = input
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	lg = log --oneline --graph --all --decorate
	pt = log --pretty=format:'%h %an %ae'
[color]
	ui = auto
[push]
	default = simple
[credential]
	helper = cache
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg
