//  ╔═╗┌─┐┬  ┌─┐┌┬┐┌┬┐┌─┐
//  ╠═╝├─┤│  ├┤  │  │ ├┤ 
//  ╩  ┴ ┴┴─┘└─┘ ┴  ┴ └─┘

$text-font: "Hack Nerd Font";
$text-font-mono: "Hack Nerd Font Mono";
$text-color-white: rgb(255, 255, 255);
$text-color-alt-6: rgba(255, 255, 255, 0.6);
$text-color-alt-2: rgba(255, 255, 255, 0.2);
$debian-color: rgb(255, 51, 102);
$bg: rgb(0, 0, 0, 0.8);
$bg-alt: rgba(70, 70, 70, 0.7);
$bg-button: rgb(40, 40, 40);
$bg-button-hover: rgb(70, 70, 70);

//  ╦┌┬┐┌─┐┌─┐┬─┐┌┬┐
//  ║│││├─┘│ │├┬┘ │
//  ╩┴ ┴┴  └─┘┴└─ ┴

@import "./bar/bar.scss";
@import "./calendar/calendar.scss";

//  \│/
//  ─ ─
//  /│\

* {
    all: unset;
}

//  ╔╦╗┌─┐┌─┐┬ ┌┬┐┬┌─┐
//   ║ │ ││ ││  │ │├─┘
//   ╩ └─┘└─┘┴─┘┴ ┴┴  

tooltip {
    font-family: "Hack Nerd Font Mono";
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: $bg;
    border-radius: 0.2rem;
}