$char: #949494;
$char-red: #f87070;
$btn-bg: #20252b;
$btn-hover: #3d464e;

* {
  all: unset;
}

.layout-box {
  font-family: "Hack Nerd Font";
  background-repeat: no-repeat;
  background-size: contain;
  background: rgba(0, 0, 0, 0.80);
  padding: 5em;
  color: rgba($char, 1);
}

.net-box,
.bat-box,
.tm-box {
  label {
    font-size: 2em;
  }
}

.close-btn {
  font-size: 2em;

  &:hover {
    color: $char-red;
  }
}

.btns-box {
  font-size: 2.5em;

  button {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 19px;
    padding-right: 20px;
    margin-right: 0.1em;
    border-radius: 0.2em;
    background-color: rgba($btn-bg, 1);

    &:hover {
      transition: 200ms linear background-color, border-radius;
      background-color: rgba($btn-hover, 1);
    }

    &:first-child {
      color: rgba($char-red, 1);
    }
  }
}

.sep {
  font-size: 1em;
  font-family: "Hack Nerd Font";
  font-weight: 400;
}

.sundial-lbl {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.4em;
  font-family: "Hack Nerd Font";
}