.powermenu-layout-box {
  font-family: $powermenu-text-font;
  color: $powermenu-text-color-alt;
  background-repeat: no-repeat;
  background-size: contain;
  background: rgba(0, 0, 0, 0.80);
  padding: 5em;
}

.powermenu-separator-label {
  font-family: $powermenu-text-font;
  font-size: 1em;
  font-weight: 400;
}

.powermenu-close-button {
  font-size: 2em;
  padding-right: 1px;

  &:hover {
    color: $powermenu-text-color-red;
  }
}

.powermenu-battery-box,
.powermenu-wifi-box,
.powermenu-time-box {
  label {
    font-size: 2em;
  }
}

.powermenu-sundial-label {
  font-family: $powermenu-text-font;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.4em;
}

.powermenu-button-box {
  font-size: 2.5em;

  button {
    background-color: $powermenu-bg-button;
    border-radius: 0.2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 19px;
    padding-right: 20px;

    &:hover {
      transition: 200ms linear background-color, border-radius;
      background-color: $powermenu-bg-button-hover;
      color: $powermenu-text-color-white;
    }
  }

  &.powermenu-shutdown-button-box button:hover {
    color: $powermenu-text-color-red;
  }
}