[Desktop Entry]
Name=MuseScore4
Comment=The world's most popular notation app.
Exec=/home/fjrodafo/Downloads/Applications/MuseScore4/MuseScore4.AppImage
Icon=/home/fjrodafo/Downloads/Applications/MuseScore4/MuseScore4.svg
Terminal=false
Type=Application
Categories=Audio;
