[Desktop Entry]
Name=Postman
Comment=The AI-native API Platform.
Exec=/home/fjrodafo/Downloads/Applications/Postman/Postman/Postman
Icon=/home/fjrodafo/Downloads/Applications/Postman/Postman.svg
Terminal=false
Type=Application
Categories=Development;
