//  ╔╗ ┌─┐┬─┐
//  ╠╩╗├─┤├┬┘
//  ╚═╝┴ ┴┴└─

.bar-layout-box {
  background-color: $bar-bg;
  border-radius: 0.5rem;
}

.bar-logo-box {
  font-family: $bar-text-font;
  font-size: 25px;
  color: $bar-debian-logo-color;
  border-radius: 0.2rem;
  padding: 0.4rem 0rem 0.4rem 0rem;
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.bar-workspaces {
  font-family: $bar-text-font;
  background-color: $bar-bg-alt;
  border-radius: 0.2rem;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.bar-workspace-focused,
.bar-workspace-occupied,
.bar-workspace-empty {
  font-size: 18.5px;
  color: $bar-text-color-white;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  margin: 0.2rem 0rem 0.2rem 0rem;
}

.bar-control-panel-box {
  font-family: $bar-text-font;
  font-weight: bold;
  font-size: 25px;
  background-color: $bar-bg-alt;
  border-radius: 0.2rem;
  padding: 0.7rem 0rem 0.7rem 0rem;
  margin: 0rem 0.4rem 0.4rem 0.4rem;
}

.bar-time-box {
  font-family: $bar-text-font;
  font-weight: bold;
  font-size: 18.5px;
  color: $bar-text-color-white;
  background-color: $bar-bg-alt;
  border-radius: 0.2rem;
  padding: 0.7rem 0rem 0.7rem 0rem;
  margin: 0rem 0.4rem 0.4rem 0.4rem;
}