//  ╔╗ ┌─┐┬─┐
//  ╠╩╗├─┤├┬┘
//  ╚═╝┴ ┴┴└─
.bar-layout-box {
  background-color: $bg;
  border-radius: 7px;
}

.bar-logo-debian {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  min-height: 25px;
  min-width: 25px;
  padding: 1rem 0rem 1rem 0rem;
}

.bar-workspace-focused,
.bar-workspace-occupied,
.bar-workspace-empty {
  margin: 0.4rem 0rem 0.4rem 0rem;
  padding: 0rem 0.4rem 0rem 0.4rem;
}

.bar-workspaces {
  background-color: $bg-alt;
  border-radius: 4px;
  color: $text-color-white;
  font-family: $text-font-mono;
  font-size: 18px;
  font-weight: bold;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.bar-system-tray-box {
  margin: 0rem 0.4rem 0rem 0.4rem;
  padding: 0.4rem 0rem 0.4rem 0rem;

  >menuitem {
    color: $text-color-white;
    font-family: $text-font;

    &:disabled label {
      color: $debian-color;
    }

    &:hover {
      background-color: $bg-alt;
    }
  }

  separator {
    background-color: $bg-alt;

    &:last-child {
      padding: unset;
    }
  }
}

.bar-control-panel-box {
  background-color: $bg-alt;
  border-radius: 4px;
  color: $text-color-white;
  font-family: $text-font-mono;
  font-size: 25px;
  font-weight: bold;
  margin: 0rem 0.4rem 0rem 0.4rem;
  padding: 0.4rem 0rem 0.4rem 0rem;
}

.bar-control-panel-icons {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  min-height: 25px;
  min-width: 25px;
  padding: 0.4rem 0rem 0.4rem 0rem;
}

scale trough {
  all: unset;
  background-color: $bg;
  border-radius: 5px;
  margin: 0.4rem 0rem 0.4rem 0rem;
  min-height: 100px;
  min-width: 9px;
}

.bar-audio-output-scale trough highlight,
.bar-audio-input-scale trough highlight {
  background: $text-color-white;
  border-radius: 5px;
}

.bar-time-box {
  font-family: $text-font-mono;
  font-weight: bold;
  font-size: 19px;
  color: $text-color-white;
  background-color: $bg-alt;
  border-radius: 4px;
  margin: 0.4rem 0.4rem 0rem 0.4rem;
  padding: 0.9rem 0rem 0.9rem 0rem;
}

.bar-power-menu-button-lock,
.bar-power-menu-button-suspend,
.bar-power-menu-button-hibernate,
.bar-power-menu-button-reboot,
.bar-power-menu-button-shutdown {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  min-height: 25px;
  min-width: 25px;
  padding: 0.4rem 0rem 0.4rem 0rem;
}

.bar-power-menu-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  min-height: 25px;
  min-width: 25px;
  padding: 0.6rem 0rem 0.6rem 0rem;
}