$text-font: "Hack Nerd Font Mono";
$text-color: #ffffff;
$logo-color: #d70a53;
$bg-alt: #444444;
$bg: #000000;

* {
  all: unset;
}

.eww_bar {
  background-color: $bg;
  border-radius: 0.5rem;
}

.launcher_icon {
  font-family: $text-font;
  font-size: 25px;
  color: $logo-color;
  border-radius: 0.2rem;
  padding: 0.4rem 0rem 0.4rem 0rem;
  margin: 0.4rem 0.4rem 0rem 0.4rem;
}

.works {
  font-family: $text-font;
  background-color: $bg-alt;
  border-radius: 0.2rem;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  margin: 0.5rem;
}

.workspace-focused {
  font-size: 18.5px;
  color: $text-color;
  margin: 0.4rem 0 0.4rem 0;
}

.workspace-occupied {
  font-size: 18.5px;
  color: $text-color;
  margin: 0.4rem 0 0.4rem 0;
}

.workspace-empty {
  font-size: 18.5px;
  color: $text-color;
  margin: 0.4rem 0 0.4rem 0;
}

.time {
  font-family: $text-font;
  font-weight: bold;
  font-size: 18.5px;
  background-color: $bg-alt;
  color: $text-color;
  border-radius: 0.2rem;
  padding: 0.7rem 0 0.7rem 0;
  margin: 0.5rem;
}